<div class="container-fluid pt-4 mt-5 mb-5">
	
	<div class="col-12" data-aos="zoom-in">
		<h2 class="text-center title-features mt-4">Main Features</h2>
		<p class="text-center sub-title-features">Lorem, ipsum dolor sit amet consectetur, adipisicing elit.</p>
		<p class="text-center">
			<img src="assets/images/border-divider.svg" class="img-fluid" alt="">
		</p>
	</div>
	
	<div class="row m-0 pt-5 pb-3">
		
		<!-- card features -->
		<div class="col-lg-4 col-md-4 col-sm-4 mb-3 set-pad-5-xs" data-aos="fade-up">
			<p class="mb-0">
				<img src="assets/images/tick.svg" width="30" height="30" alt="">
				<span class="ml-2 card-title-features">Feature One</span>
			</p>
			<p class="card-content-features">Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Eos repudiandae autem inventore.</p>
		</div>
		<!-- card features -->

		<!-- card features -->
		<div class="col-lg-4 col-md-4 col-sm-4 mb-3 set-pad-5-xs" data-aos="fade-up">
			<p class="mb-0">
				<img src="assets/images/tick.svg" width="30" height="30" alt="">
				<span class="ml-2 card-title-features">Feature Two</span>
			</p>
			<p class="card-content-features">Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Eos repudiandae autem inventore.</p>
		</div>
		<!-- card features -->

		<!-- card features -->
		<div class="col-lg-4 col-md-4 col-sm-4 mb-3 set-pad-5-xs" data-aos="fade-up">
			<p class="mb-0">
				<img src="assets/images/tick.svg" width="30" height="30" alt="">
				<span class="ml-2 card-title-features">Feature Three</span>
			</p>
			<p class="card-content-features">Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Eos repudiandae autem inventore.</p>
		</div>
		<!-- card features -->

	</div>
</div>