<div class="container-fluid mt-5 no-mt-0">
	<div class="row m-0">
		
		<div class="col-lg-6 col-md-6 col-sm-6" data-aos="fade-up"> 
			<h3 class="title-features mt-4">Kontak</h3>
			<p class="card-content-features mx-w450">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
			<p class="ml--35"><img src="assets/images/border-divider.svg" alt=""></p>

			<div class="d-flex">
				<p class="icon-contact-text"><i class="fas fa-map-marker-alt"></i></p>
				<p class="contact-text ml-2">1717 Harrison St, San Francisco, CA 94103, USA</p>
			</div>

			<div class="d-flex">
				<p class="icon-contact-text"><i class="fas fa-phone"></i></p>
				<p class="contact-text ml-2">123 - 123 - 1234</p>
			</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-6" data-aos="fade-up">
			<form action="" class="mt-4">
				<div class="row">
					<div class="col-lg-6">
						<input type="text" class="form-control" placeholder="Email anda..">
					</div>
					<div class="col-lg-6 xs-mt-20">
						<input type="text" class="form-control" placeholder="Nama Lengkap..">
					</div>
				</div>
				<textarea class="form-control mt-4 pt-2" id="" rows="6" placeholder="Pesan.."></textarea>

				<button class="send-button-form mt-3">Kirim</button>
			</form>
		</div>

	</div>
</div>