 <!-- footer -->

 <p class="pt-5 mt-2 mb-0"><img src="assets/images/wave.svg" alt=""></p>
 <footer class="backup-footer">
  <div class="container-fluid">
    <div class="row m-0">
      <div class="col-lg-3 col-md-3">

        <p class="p-4 text-center">
          <img src="assets/images/logo-hero.png" class="img-fluid img-logo-footer" alt="">
        </p>

        <p class="text-center mb-0 name-footer">Universitas Indonesia Timur</p>

      </div>
      <div class="col-1"></div>
      <div class="col-lg-4 col-md-4">
        <h3 class="mt-5 mb-3">Contact</h3>

        <!-- contact -->
        <div class="d-flex backup-contact-footer mb-1">
          <p><i class="fas fa-map-marker-alt icon-contact-footer"></i></p>
          <p class="ml-2 mt-2">your location</p>
        </div>
        <!-- contact -->

        <!-- contact -->
        <div class="d-flex backup-contact-footer mb-1">
          <p><i class="far fa-envelope icon-contact-footer"></i></p>
          <p class="ml-2 mt-2">yourname@gmail.com</p>
        </div>
        <!-- contact -->

        <!-- contact -->
        <div class="d-flex backup-contact-footer">
          <p><i class="fas fa-phone icon-contact-footer"></i></p>
          <p class="ml-2 mt-2">+628766457566</p>
        </div>
        <!-- contact -->


        <!-- contact -->
        <div class="d-flex backup-contact-footer">
          <p><i class="fab fa-whatsapp icon-contact-footer"></i></p>
          <p class="ml-2 mt-2">+6287664987621</p>
        </div>
        <!-- contact -->

      </div>
      <div class="col-lg-4 col-md-4">
        <h3 class="mt-5 mb-3">Media</h3>
        <div class="d-flex icon-media-footer"> 
          <p class="mr-4"><a href="#"><i class="fab fa-facebook-f"></i></a></p>
          <p class="mr-4"><a href="#"><i class="fab fa-instagram"></i></a></p>
          <p class="mr-4"><a href="#"><i class="fab fa-google-plus-g"></i></a></p>
          <p class="mr-4"><a href="#"><i class="fab fa-twitter"></i></a></p>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center pt-5 mt-2 last-word-footer">© Copyright Simetriz 2019. All Rights Reserved</p>
</footer>
  <!-- footer -->