<div class="container-fluid pt-4 pb-4">
	
	<div  data-aos="zoom-in">
		<h2 class="text-center title-features mt-4">Nama Auditor</h2>
		<p class="text-center">
			<img src="assets/images/border-divider.svg" class="img-fluid" alt="">
		</p>
	</div>

	<div class="row m-0 pt-3">
		
		<div class="col-lg-3 col-md-6 col-sm-6 mb-3" data-aos="fade-up">
			<div class="card pt-2 pb-3 card-auditor">
				<p class="text-center">
					<img src="assets/images/avatar.jpg" class="img-fluid image-auditor-profile" alt="">
				</p>
				<p class="card-title-features text-center mb-2 mt-1">Drs Hanafi Kadir, SKM., M.KES</p>
				<p class="card-content-features text-center mb-3 mt-1">Pimpinan</p>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6 mb-3" data-aos="fade-up">
			<div class="card pt-2 pb-3 card-auditor">
				<p class="text-center">
					<img src="assets/images/avatar.jpg" class="img-fluid image-auditor-profile" alt="">
				</p>
				<p class="card-title-features text-center mb-2 mt-1">Yuniarti, S.ST, SKM. M.KES, M.KEB</p>
				<p class="card-content-features text-center mb-3 mt-1">Anggota</p>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6 mb-3" data-aos="fade-up">
			<div class="card pt-2 pb-3 card-auditor">
				<p class="text-center">
					<img src="assets/images/avatar.jpg" class="img-fluid image-auditor-profile" alt="">
				</p>
				<p class="card-title-features text-center mb-2 mt-1">Hermawati Hamalding, SKM., M.KES</p>
				<p class="card-content-features text-center mb-3 mt-1">Anggota</p>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6 mb-3" data-aos="fade-up">
			<div class="card pt-2 pb-3 card-auditor">
				<p class="text-center">
					<img src="assets/images/avatar.jpg" class="img-fluid image-auditor-profile" alt="">
				</p>
				<p class="card-title-features text-center mb-2 mt-1">Rohani, S.ST., M.KES</p>
				<p class="card-content-features text-center mb-3 mt-1">Anggota</p>
			</div>
		</div>

	</div>
</div>