<nav class="navbar navbar-expand-md navbar-light bg-light head-navbar fixed-top">
  <a class="navbar-brand" href="#"><img src="assets/images/logo-hero.png"alt=""> &nbsp;<span>Universitas Indonesia Timur</span></a>
  
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="icon-bar top-bar"></span>
    <span class="icon-bar middle-bar"></span>
    <span class="icon-bar bottom-bar"></span>       
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto m-20-xs">
     <li class="nav-item active">
      <a class="nav-link" href="#">Beranda<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="#">SPMI</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="#">SPME</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li> 
  </ul>

</div>
</nav>