<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">

    <!-- carousel item -->
    <div class="carousel-item active">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 col-12 order-md-1 order-2">
              <div class="p-4 pd-3-xs">
                <h4 class="title-slide-lp">Lembaga Penjaminan Mutu</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <a href="#">Selengkapnya..</a>
              </div>
            </div>
            <div class="col-md-6 col-12 order-md-2 order-1 p-4-xs">
              <p class="backup-image-slide">             
                <img src="assets/images/campus.jpg" class="img-fluid" alt="slide">
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- carousel item -->

   <!-- carousel item -->
   <div class="carousel-item">
    <div class="mask flex-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 col-12 order-md-1 order-2">
            <div class="p-4 pd-3-xs">
              <h4 class="title-slide-lp">Lembaga Penjaminan Mutu</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <a href="#">Selengkapnya..</a>
            </div>
          </div>
          <div class="col-md-6 col-12 order-md-2 order-1 p-4-xs">
            <p class="backup-image-slide">             
              <img src="assets/images/img-slide-2.jpg" class="img-fluid" alt="slide">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- carousel item -->

  <!-- carousel item -->
  <div class="carousel-item">
    <div class="mask flex-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 col-12 order-md-1 order-2">
            <div class="p-4 pd-3-xs">
              <h4 class="title-slide-lp">Lembaga Penjaminan Mutu</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <a href="#">Selengkapnya..</a>
            </div>
          </div>
          <div class="col-md-6 col-12 order-md-2 order-1 p-4-xs">
            <p class="backup-image-slide">             
              <img src="assets/images/img-slide-1.jpg" class="img-fluid" alt="slide">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- carousel item -->


  <a class="carousel-control-prev ml-1" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next mr-1" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<!--slide end--> 